@model Bloggie.Web.Models.ViewModels.ForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- Head js -->
    <script src="~/assets/js/head.js"></script>
    <style>
        body.authentication-bg-pattern {
            background-image: url('@Url.Content("~/assets/images/bg-material.png")');
        }

        .forget-text {
            font-size: 24px; /* Adjust size as needed */
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, #78bcfff0, #ff8080);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
    </style>
</head>

<body class="authentication-bg authentication-bg-pattern">

    <div class="account-pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4 mt-5">
                    <div class="card bg-pattern" style="background-color:#bccddd24;border: 1px dotted darkgreen;">

                        <div class="card-body">

                            <div class="text-center w-75 m-auto">
                                <div class="auth-logo">

                                    <span class="fw-bold d-none d-md-inline forget-text ">
                                        Reset Your Password
                                    </span>
                                </div>
                              
                                <p class="text-muted mb-4 mt-3">Enter your email to receive a reset link</p>
                            </div>

                            <form method="post">
                                <div class="mb-3">
                                    <label class="form-label" style="color:white">Email Address</label>
                                    <input type="email" class="form-control" asp-for="Email" required />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn w-100" style="background-color:darkgreen; color:white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Send Reset Link</button>
                                </div>
                            </form>

                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
                            }

                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
                            }


                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->


                    <div class="card bg-pattern" style="background-color:#bccddd24;border: 1px dotted darkgreen;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        <div class="card-body" style="padding-top: 11px; padding-bottom: 0px;">
                            <div class="col-12 text-center mb-2">
                                <a href="/Account/Login" class="text-dark-50"><b style="color:indianred">Back to Login</b></a>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->





    <script src="~/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>
</body>

</html>






