@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    var user = signInManager.IsSignedIn(User) ? await userManager.GetUserAsync(User) : null;
    
}
<link href="~/css/profile.css" rel="stylesheet" />

<style>
    body {
        background: url('/assets/images/account.jpg') no-repeat center center fixed;
        background-size: cover;
    }

</style>

<body>


    <section>
        <div class="container">
            <div class="row justify-content-center">


                <div class="col-8 col-md-6">
                    <div class="jelly-card">
                        <div class="card py-3 ">

                            <div class="row">
                                <div class="col-10 col-md-4 col-lg-3 jelly-bloc text-center text-md-start">
                                    <img src="~/assets/images/jelly.png" class="card-img-top card-pic slowfloat2s" alt="meduse">
                                </div>
                                <div class="col-12 col-md-8 col-lg-8">
                                    <div class="card-body">
                                        <h5 class="card-title" style="border: 2px solid #004b95; padding: 10px; border-radius: 8px; display: inline-flex; align-items: center; gap: 8px; background: #f8f9fa00; color: #333;">
                                            <i class="bi bi-person-circle" style="font-size: 1.2em; color: #004b95;"></i>
                                            @user?.UserName
                                        </h5>

                                        <div class="line"></div>
                                        
                                        <p class="text-dark mb-2 font-16"><strong>Full Name:</strong> <span class="ms-2">@user?.UserName</span></p>
                                        <p class="text-dark mb-2 font-16"><strong>Email:</strong> <span class="ms-2">@user?.Email</span></p>
                                        
                                        <i class="star fas fa-paper-plane slowfloat3s" style="color:#004b95"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>




</body>